 .header-fijo {
     position: fixed;
     width: 100%;
     top: 0;
     z-index: 999;
 }
 .body{
    margin-top: 13vw;
    height: 35vw;
 
 }
 body{
    
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 13%, rgba(99,227,252,0.76234243697479) 89%);
       
 }

 //desktop
@media (min-width: 1200px) {}

//only tablet portrait
@media only screen and (min-width: 768px) and (max-width: 1200px) and (orientation: portrait) {
    .body{
        margin-top: 10rem;
     }
}

//only tablet landscape
@media only screen and (min-width: 768px) and (max-width: 1200px) and (orientation: landscape) {
    .body{
        margin-top: 10rem;
     }
}

//only phone
@media (max-width: 576px) {
    .body{
        margin-top: 7rem;
        height: 46rem;
     }

}