.header, .headerlogin {
   
   
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 13%, rgba(99,227,252,0.76234243697479) 89%);
     box-shadow: 1px 1px 8px 1px #4d4c4c;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4.5vw 2vw;
}

.headerlogin{
  padding: 3vw;
}
.logo{

    img{
         width: 6vw; 
        
       }
  
}
.nav {
    color: #000000;
    padding: 1vw 1vw;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vw;
    transition: all .3s ease-in;

    &:hover {
        background-color: rgb(74, 82, 87);
        transition: all .3s ease-in;
        color: white;
        border-radius: 1vw;
    }

}

.navmovil{
  opacity: 0;
  margin-top: -50rem;
  
  height: 0;
-webkit-animation: all 0.3ms ease-in-out;
-moz-animation: all 0.3ms ease-in-out;
-o-animation: all 0.3ms ease-in-out;
  transition: all 0.3ms ease-out;

}

.navmovil.active{
    opacity: 1;
     margin-top: 0;
    height: auto;
    transition: all 0.3ms ease-out;
}

.iconmv{
    font-size: 3rem !important;
    color: #070707;
    line-height: 100%;
   
}

//big desktop
@media (min-width: 1920px) {
    .header {
        padding: 10rem 2rem;

    }
}

//desktop
@media (min-width: 1200px) {}

//only tablet portrait
@media only screen and (min-width: 768px) and (max-width: 1200px) and (orientation: portrait) {
    .nav {
        font-size: 2rem;
    }
    .logo{
        img{
             width: 5rem; 
        }
      
    }
    .header {
        padding: 3rem 1rem;

    }

}

//only tablet landscape
@media only screen and (min-width: 768px) and (max-width: 1200px) and (orientation: landscape) {
.logo{
    img{
         width: 5rem; 
    }
  
}
.header {
    padding: 3.5rem 1rem;

}
}

//only phone
@media (max-width: 576px) {

   
    .header {
        align-items: start;
        padding: 1.5rem 1rem;

    }

    .nav {
        color: #ffffff;
        font-size: 1rem;
        position: relative;
        margin-bottom: 1rem;
    }
.logo{
    img{
         width: 4rem; 
         position: relative;
         margin-bottom: 1rem;
    } 
}



}