.tbody{
    max-height: 7px;
    overflow: auto;
}
.checkbox{
    cursor: pointer;
}


//desktop
@media (min-width: 1200px) {}

//only tablet portrait
@media only screen and (min-width: 768px) and (max-width: 1200px) and (orientation: portrait) {
  
}

//only tablet landscape
@media only screen and (min-width: 768px) and (max-width: 1200px) and (orientation: landscape) {}

//only phone
@media (max-width: 576px) {
 
}